        <script>$('.message .close').on('click', function() { $(this).parent().hide(); });</script>
        <script>
            function showTAC() {
                $('.ui.modal').modal('show');
            }
        </script>
        <script>$(function() { $( "#datepicker" ).datepicker(); });</script>
        <script>
            let date = new Date();
            day = date.getDate();
            month = date.getMonth() + 1;
            year = date.getFullYear();

            function addZero(date) {
                if(date < 10) return '0' + date;
                else return date;
            }

            document.getElementById('orderdate').value = `${addZero(month)}/${addZero(day)}/${year}`;
        </script>
    </body>
</html>