<!DOCTYPE html>
<html>
    <head>
        <title>Fuel Quotes</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>

    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="quote left icon"></i>FuelQuote</div>
                <%if(currentUser && currentUser.newAcc === false) {%>
                <a class="item">Get A Quote</a>
                    <div class="right menu">
                        <a class="item"><i class="user circle icon"></i><%=currentUser.username%></a>
                        <a href="/clients/logout" class="item">Logout</a>
                    </div>
                <%}%>
            </div>
        </div>
