<% include partials/header %>

<div class="ui main text container segment" id="container">
    <div class="ui huge header" style="text-align: center;">Welcome To Fuel Quote!</div>
    <p class="btns">
        Here at Fuel Quote, our mission is to find the right price of fuel for you!
    </p>
    <div class="btns">
        <a href="/login" class="ui blue inverted button" id="landingbtn">Log In</a>
        <a href="/register" class="ui orange inverted button" id="landingbtn">Register</a>
    </div>
</div>

<% include partials/footer %>