<% include partials/header %>

<div class="ui main text container segment" id="container">
    <div class="ui huge header" style="text-align: center;">REGISTER</div>
    <%if(message.type === 'error') {%>
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header"><i class="exclamation icon"></i><%=messageHeader%></div>
            <div class="body"><%=messageBody%></div>
        </div>
    <%} else if(message.type === 'success') {%>
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header"><i class="check icon"></i><%=messageHeader%></div>
            <div class="body"><%=messageBody%></div>
        </div>
    <%}%>
    <form class="ui form" action="/register" method="POST">
        <%# Username %>
        <div class="field">
            <input type="text" name="registerusername" placeholder="Username" required>
        </div>
        <%# Initial Password %>
        <div class="field">
            <input type="password" name="registerpassword" placeholder="Password" required>
        </div>
        <%# Confirmation Password %>
        <div class="field">
            <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
        </div>
        <%# Terms And Conditions %>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="termsandconditions" required>
                <label for="termsandconditions">I agree to the <a onclick="showTAC()">Terms and Conditions</a>.</label>                
            </div>
        </div>
        <%# Buttons %>
        <button type="submit" class="ui green inverted button">Submit</button>
        <a href="/" class="ui red inverted button">Cancel</a>
    </form>
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">Terms and Conditions</div>
    <div class="content">
        <p>
            Some terms and conditions.
        </p>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            Agree
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<% include partials/footer %>
