#container, #flash-messages { margin-top: 50px; }

.btns { text-align: center; }

.alert-error,
#profileManagement {
    color: red;
    background-color: #ffc9c9;
    padding: 5px;
    margin-bottom: 1em;
    border-radius: 5px;
}

.alert-success {
    color: green;
    background-color: lightgreen;
    padding: 5px;
    margin-bottom: 1em;
    border-radius: 5px;
} 

.firstname, .lastname {
    width: 50%;
    float: left;
}
